body 
	font-family: Arial
	font-size: 16px
	line-height: 1.4

	+r(1200)
		font-size: 14px

.logo
	display: flex

	+r(900)
		img
			height: 64px


.burger
	display: none
	background-color: transparent
	svg
		height: 22px
		width: 22px
	+r(900)
		display: block
	+r(600)
		svg
			height: 16px
			width: 16px

.bag, .user
	display: flex
	font-size: 18px

	svg
		height: 22px

	svg, path
		transition: fill 0.4s ease

	&:hover svg, &:hover path
		fill: $gold

.user
	+r(900)
		display: none

.search
	position: relative
	display: flex
	font-size: 18px
	text-decoration: none
	background-color: transparent
	$this: &

	&--mobile
		display: none

		#{$this}__input
			position: static
			opacity: 1
			top: auto
			transform: translateY(0)
			right: 0
		svg
			display: none

	svg
		position: relative
		height: 22px
		
		z-index: 1

	&__input
		position: absolute
		right: -10px
		top: 50%
		transform: translateY(-50%)
		width: 210px
		height: 56px
		padding: 20px
		border: 1px solid #F4F1EA
		opacity: 0
		z-index: -1
		transition: all 0.4s ease

	&:hover &__input
		z-index: 0
		opacity: 1

	&__input:focus
		z-index: 1
		opacity: 1

	+r(900)
		display: none

		&--mobile
			display: block
		
		

.bag
	position: relative
	&__count
		position: absolute
		top: -8px
		right: -8px
		display: flex
		justify-content: center
		align-items: center
		width: 24px
		height: 24px
		line-height: 0
		color: white
		border-radius: 50%
		background-color: $gold

	+r(600)

		&__count
			width: 16px
			height: 16px
			font-size: 14px
		svg
			height: 16px
			width: 16px