.hero
	position: relative

	&__slide
		position: relative
		height: 570px
		padding-top: 88px
		padding-left: 80px

		&-bg
			position: absolute
			top: 0
			right: 0
			height: 100%
			width: 100%
			object-fit: cover
			z-index: -1

	&__inner
		width: 600px

	&__title
		+fontCGL
		font-size: 48px

	&__description
		opacity: 0.5
		text-transform: uppercase
		margin-bottom: 40px

	&__slider-btn
		position: absolute
		top: 50%
		transform: translateY(-50%)
		background-color: transparent
		font-size: 40px


		&:hover path 
			fill: $gold
			stroke: $gold

		&--prev
			left: 24px

		&--next
			right: 24px

	.slick-dots
		position: absolute
		bottom: 24px
		left: 50%
		transform: translateX(-50%)
		display: flex

		li 
			position: relative
			margin-right: 8px
			width: 12px
			height: 12px
			border: 1px solid #61A3AC
			border-radius: 50%

			&:last-child
				margin-right: 0
			&.slick-active:before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				width: 8px
				height: 8px
				background-color: #61A3AC
				border-radius: 50%
				

		button
			font-size: 0
			background-color: transparent



	+r(1200)

		&__slide
			height: 400px
			padding-top: 50px

		&__inner
			width: 400px

		&__title
			font-size: 36px

	+r(900)

		&__slider-btn
			display: none!important

		&__slide
			padding-left: 20px 

		&__title
			font-size: 32px
			margin-bottom: 14px

	+r(600)

		&__slide
			height: 550px
			padding-top: 48px
			padding-left: 16px
			&-bg
				top: auto
				bottom: 0
				right: 50%
				transform: translateX(50%)

		&__title
			font-size: 24px
			

		&__inner
			width: 300px

		&__description
			margin-bottom: 50px




