.icon-bag {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
